.flows_ip-172-31-27-186.us-west-2.compute.internal.json.backup
[{"id":"3fe7ff93.cc45f8","type":"tab","label":"Slack"},{"id":"f6398f07.346a2","type":"tab","label":"UI Stuff"},{"id":"70269bbd.cbf28c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"c3d7700a.6093c8","type":"ui_group","z":"","name":"Default","tab":"70269bbd.cbf28c","disp":true,"width":"6"},{"id":"e678b29b.a056d","type":"mongodb","z":"","hostname":"ds139879.mlab.com","port":"39879","db":"axtellabs-iot","name":"IoT@mLab"},{"id":"95a0b160.bd51a","type":"http response","z":"3fe7ff93.cc45f8","name":"","x":794.72216796875,"y":38.5555534362793,"wires":[]},{"id":"6cd78a77.ebba24","type":"http in","z":"3fe7ff93.cc45f8","name":"","url":"/slack","method":"post","swaggerDoc":"","x":129.27777099609375,"y":183.88888549804688,"wires":[["eccec3b.e99ecc"]]},{"id":"eccec3b.e99ecc","type":"switch","z":"3fe7ff93.cc45f8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"regex","v":"hola","vt":"str","case":true},{"t":"regex","v":"^tamales [a-zA-Z]+( \\d+)?$","vt":"str","case":true},{"t":"else"}],"checkall":"true","outputs":4,"x":300.5,"y":190,"wires":[["9ba0e69f.ac9fc8"],["149f6ac8.aaedf5"],["52f6b998.2a0b88"],["677c85bc.92add4"]]},{"id":"9ba0e69f.ac9fc8","type":"function","z":"3fe7ff93.cc45f8","name":"no comando","func":"\nmsg.payload.text = \"No se recibió ningún comando. Puedes intentar /axtellabs hola\";\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":157,"wires":[["4f26a5dd.3dab5c"]]},{"id":"149f6ac8.aaedf5","type":"function","z":"3fe7ff93.cc45f8","name":"hola","func":"\nvar response = {};\nresponse.response_type = \"in_channel\";\nresponse.text = \"Hola prros n_n\";\n\n\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":451.5,"y":192,"wires":[["67979ea.136cb6"]]},{"id":"52f6b998.2a0b88","type":"function","z":"3fe7ff93.cc45f8","name":"tamales","func":"var request = msg.payload;\n\nvar slack_response = msg;\nvar error_obj =  null;\nvar db_action = null;\nvar db_query = null;\n\nvar order = request.text.split(\" \"); \n//order[0] -> tamales\n//order[1] -> tipo de tamales o comando\n//order[2] -> cantidad de tamales\nvar user_name = request.user_name;\n\n\n//TODO \n//comandos propuestos:\n//help, clear, list, status\n\nswitch(order[1]){\n    case \"help\":\n        slack_response.payload.text = \"/axtellabs tamales [tipo de tamales] [cantidad]\\n/axtellabs tamales [comando]\\nComandos:\\n-help: despliega la ayuda.\\n-list (para admin): despliega las órdenes.\\n-clear: borra tu orden\\n-status: muestra tu orden.\";\n        break;\n        \n    case \"clear\":\n        db_action = {};\n        slack_response.payload.text = \"Tus órdenes han sido borradas.\";\n        db_action.operation = \"remove\";\n        db_action.payload = {\"user_name\":user_name};\n        break;\n        \n    case \"list\":\n        if (user_name == \"hortizc\" ){\n            db_query = msg;\n            slack_response = null;\n            db_query.limit = 0;\n            db_query.skip = 0;\n            db_query.payload = {}; \n        } else {\n           slack_response.payload.text = \"Comando inválido.\"; \n        }\n        \n        break;\n        \n    case \"status\":\n        db_query = msg;\n        slack_response = null;\n        db_query.limit = 0;\n        db_query.skip = 0;\n        db_query.payload = {\"user_name\":user_name};\n        break;\n        \n    default:\n        if(isNaN(order[2])){\n            slack_response.payload.text = \"Comando inválido.\"; \n        } else {\n            db_action = {};\n            db_action.operation = \"insert\";\n            slack_response.payload.text = \"Ordenaste *\" + order[2] + \"* tamales de tipo [*\" + order[1] + \"*].\";\n            db_action.payload = {\"user_name\":user_name,\"tipo\":order[1],\"cantidad\":order[2]};\n        }\n\n}\n\n\nreturn [slack_response,db_action,db_query,error_obj];\n\n\n\n","outputs":"4","noerr":0,"x":485.5,"y":263,"wires":[["46f04a3.cee33b4"],["92ee3e62.1043d8"],["754c47fe.be2ec"],["32df758d.a91fda"]]},{"id":"677c85bc.92add4","type":"function","z":"3fe7ff93.cc45f8","name":"comando inválido","func":"\nmsg.payload.text = \"Comando no válido. Puedes intentar /axtellabs hola\";\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":442,"wires":[["78cb39f1.544db"]]},{"id":"32df758d.a91fda","type":"debug","z":"3fe7ff93.cc45f8","name":"ERROR","active":true,"console":"false","complete":"payload","x":716.5,"y":501,"wires":[]},{"id":"76d218aa.fa26f8","type":"inject","z":"f6398f07.346a2","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":211,"y":87,"wires":[["69ca5389.78f7ac"]]},{"id":"69ca5389.78f7ac","type":"ui_chart","z":"f6398f07.346a2","name":"","group":"c3d7700a.6093c8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":399,"y":168,"wires":[["7ab0a02b.d581b"],[]]},{"id":"2f1b115c.807476","type":"inject","z":"f6398f07.346a2","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":106,"y":285,"wires":[["80e5189c.8edd58"]]},{"id":"80e5189c.8edd58","type":"file in","z":"f6398f07.346a2","name":"","filename":"tuJefa","format":"utf8","x":252,"y":285,"wires":[["9cecbc31.3ea818"]]},{"id":"9faacab6.82c45","type":"debug","z":"f6398f07.346a2","name":"","active":false,"console":"false","complete":"false","x":520,"y":319,"wires":[]},{"id":"4fdc9f38.e24dd","type":"inject","z":"f6398f07.346a2","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":204.5,"y":134,"wires":[["69ca5389.78f7ac"]]},{"id":"7b30cbc5.9edfcc","type":"inject","z":"f6398f07.346a2","name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"x":206.5,"y":179,"wires":[["69ca5389.78f7ac"]]},{"id":"950e1f8a.84059","type":"inject","z":"f6398f07.346a2","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":202.5,"y":40,"wires":[["69ca5389.78f7ac"]]},{"id":"c9701632.bec22","type":"debug","z":"f6398f07.346a2","name":"","active":false,"console":"false","complete":"true","x":653,"y":231,"wires":[]},{"id":"65c4b585.c365cc","type":"file","z":"f6398f07.346a2","name":"","filename":"tuJefa","appendNewline":false,"createDir":true,"overwriteFile":"true","x":678,"y":154,"wires":[]},{"id":"7ab0a02b.d581b","type":"function","z":"f6398f07.346a2","name":"","func":"if(msg.payload.length === 0){\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":541,"y":154,"wires":[["65c4b585.c365cc","c9701632.bec22"]]},{"id":"9cecbc31.3ea818","type":"json","z":"f6398f07.346a2","name":"","x":364,"y":237,"wires":[["69ca5389.78f7ac","9faacab6.82c45"]]},{"id":"d412b9d0.23a3c","type":"link in","z":"3fe7ff93.cc45f8","name":"httpResponse","links":["46f04a3.cee33b4","4f26a5dd.3dab5c","67979ea.136cb6","78cb39f1.544db","aaab86a3.90fff8"],"x":708.3333139419556,"y":38.88890266418457,"wires":[["95a0b160.bd51a"]]},{"id":"4f26a5dd.3dab5c","type":"link out","z":"3fe7ff93.cc45f8","name":"","links":["d412b9d0.23a3c"],"x":575.0000314712524,"y":156.66665744781494,"wires":[]},{"id":"67979ea.136cb6","type":"link out","z":"3fe7ff93.cc45f8","name":"","links":["d412b9d0.23a3c"],"x":533.3333129882812,"y":192.2222137451172,"wires":[]},{"id":"46f04a3.cee33b4","type":"link out","z":"3fe7ff93.cc45f8","name":"","links":["d412b9d0.23a3c"],"x":604.111083984375,"y":195.5555419921875,"wires":[]},{"id":"78cb39f1.544db","type":"link out","z":"3fe7ff93.cc45f8","name":"","links":["d412b9d0.23a3c"],"x":616.5555419921875,"y":442.33331298828125,"wires":[]},{"id":"2c00e72c.8d96e","type":"mongodb out","z":"3fe7ff93.cc45f8","mongodb":"e678b29b.a056d","name":"AxtelLabs-IoT@mLab","collection":"slack","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":888.5,"y":204,"wires":[]},{"id":"754c47fe.be2ec","type":"mongodb in","z":"3fe7ff93.cc45f8","mongodb":"e678b29b.a056d","name":"","collection":"slack","operation":"find","x":716.5,"y":310,"wires":[["5e52a60c.d30ba","47ad328a.bfb1e4"]]},{"id":"5e52a60c.d30ba","type":"debug","z":"3fe7ff93.cc45f8","name":"DB query results","active":true,"console":"false","complete":"true","x":945.5,"y":314,"wires":[]},{"id":"47ad328a.bfb1e4","type":"function","z":"3fe7ff93.cc45f8","name":"processQuesryResults","func":"queryResults = msg.payload;\n\nmsg.payload = {\n    \"text\":\"\",\n    \"attachments\":[\n        ]\n};\n\nif (queryResults.length>0){\n    msg.payload.text = \"Órdenes registradas\";\n    queryResults.forEach(function(orden) {\n        msg.payload.attachments.push({\"title\":orden.user_name,\"text\":orden.cantidad + \" \" + orden.tipo});\n    });\n} else {\n    msg.payload.text = \"No hay órdenes registradas. Usa /axtellabs tamales [tipo] [cantidad]\"\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":954.5,"y":348,"wires":[["aaab86a3.90fff8"]]},{"id":"aaab86a3.90fff8","type":"link out","z":"3fe7ff93.cc45f8","name":"","links":["d412b9d0.23a3c"],"x":1091,"y":348,"wires":[]},{"id":"d938119b.41cce8","type":"function","z":"3fe7ff93.cc45f8","name":"","func":"msg.payload = {\"user_name\":\"ahernandezd\",\"tipo\":\"pollo\",\"cantidad\":12};\nreturn msg;","outputs":1,"noerr":0,"x":723.5,"y":164,"wires":[["2c00e72c.8d96e"]]},{"id":"1f4ce389.e5a064","type":"inject","z":"3fe7ff93.cc45f8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":718.5,"y":112,"wires":[["d938119b.41cce8"]]},{"id":"e6f24ba5.93f768","type":"inject","z":"3fe7ff93.cc45f8","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":731.5,"y":415,"wires":[["b2bdc9c6.460818"]]},{"id":"b2bdc9c6.460818","type":"function","z":"3fe7ff93.cc45f8","name":"","func":"msg.limit = 0;\nmsg.skip = 0;\nmsg.payload = {\"user_name\":\"ahernandezd\"}\nreturn msg;","outputs":1,"noerr":0,"x":733.5,"y":362,"wires":[["754c47fe.be2ec"]]},{"id":"92ee3e62.1043d8","type":"switch","z":"3fe7ff93.cc45f8","name":"db operation","property":"operation","propertyType":"msg","rules":[{"t":"eq","v":"insert","vt":"str"},{"t":"eq","v":"remove","vt":"str"}],"checkall":"true","outputs":2,"x":675.5,"y":244,"wires":[["2c00e72c.8d96e"],["40d1c90b.301b"]]},{"id":"40d1c90b.301b","type":"mongodb out","z":"3fe7ff93.cc45f8","mongodb":"e678b29b.a056d","name":"AxtelLabs-IoT@mLab","collection":"slack","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":885,"y":249,"wires":[]}]