.flows_ip-172-31-27-186.us-west-2.compute.internal.json.backup
[{"id":"3fe7ff93.cc45f8","type":"tab","label":"Slack"},{"id":"f6398f07.346a2","type":"tab","label":"UI Stuff"},{"id":"70269bbd.cbf28c","type":"ui_tab","z":"","name":"Home","icon":"dashboard"},{"id":"c3d7700a.6093c8","type":"ui_group","z":"","name":"Default","tab":"70269bbd.cbf28c","disp":true,"width":"6"},{"id":"e678b29b.a056d","type":"mongodb","z":"","hostname":"ds139879.mlab.com","port":"39879","db":"axtellabs-iot","name":"IoT@mLab"},{"id":"95a0b160.bd51a","type":"http response","z":"3fe7ff93.cc45f8","name":"","x":1261.72216796875,"y":47.55555725097656,"wires":[]},{"id":"6cd78a77.ebba24","type":"http in","z":"3fe7ff93.cc45f8","name":"","url":"/slack","method":"post","swaggerDoc":"","x":129.27777099609375,"y":183.88888549804688,"wires":[["eccec3b.e99ecc"]]},{"id":"eccec3b.e99ecc","type":"switch","z":"3fe7ff93.cc45f8","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"regex","v":"^hola$","vt":"str","case":true},{"t":"regex","v":"^tamales [a-zA-Z]+( \\d+)?$","vt":"str","case":true},{"t":"else"}],"checkall":"true","outputs":4,"x":300.5,"y":190,"wires":[["9ba0e69f.ac9fc8"],["149f6ac8.aaedf5"],["52f6b998.2a0b88"],["677c85bc.92add4"]]},{"id":"9ba0e69f.ac9fc8","type":"function","z":"3fe7ff93.cc45f8","name":"no comando","func":"\nmsg.payload.text = \"No se recibió ningún comando. Puedes intentar /axtellabs hola\";\nreturn msg;","outputs":1,"noerr":0,"x":471,"y":157,"wires":[["4f26a5dd.3dab5c"]]},{"id":"149f6ac8.aaedf5","type":"function","z":"3fe7ff93.cc45f8","name":"hola","func":"\nvar response = {};\nresponse.response_type = \"in_channel\";\nresponse.text = \"Hola prros n_n\";\n\n\nmsg.payload = response;\nreturn msg;","outputs":1,"noerr":0,"x":451.5,"y":192,"wires":[["67979ea.136cb6"]]},{"id":"52f6b998.2a0b88","type":"function","z":"3fe7ff93.cc45f8","name":"tamales","func":"var request = msg.payload;\n\nvar slack_response = msg;\nvar error_obj =  null;\nvar db_action = null;\nvar db_query = null;\n\nvar order = request.text.split(\" \"); \n//order[0] -> tamales\n//order[1] -> tipo de tamales o comando\nslack_response.payload.command = order[1];\n//order[2] -> cantidad de tamales\nvar user_name = request.user_name;\n\nvar instrucciones = \"/axtellabs tamales [tipo de tamales] [cantidad]\\n/axtellabs tamales [comando]\\nComandos:\\n-help: despliega la ayuda.\\n-list (para admin): despliega las órdenes.\\n-clear: borra tu orden.\\n-status: muestra tu orden.\";\n\n//TODO \n//comandos propuestos:\n//run, here\n\nswitch(order[1]){\n    case \"help\":\n        slack_response.payload.text = instrucciones;\n        break;\n        \n    case \"clear\":\n        db_action = {};\n        slack_response.payload.text = \"Tus órdenes han sido borradas.\";\n        db_action.operation = \"remove\";\n        db_action.payload = {\"user_name\":user_name};\n        break;\n        \n    case \"list\":\n        if (user_name == \"hortizc\" ){\n            db_query = msg;\n            slack_response = null;\n            db_query.limit = 0;\n            db_query.skip = 0;\n            db_query.payload = {}; \n        } else {\n           slack_response.payload.text = \"Comando inválido.\\n\"+instrucciones; \n        }\n        \n        break;\n        \n    case \"status\":\n        db_query = msg;\n        slack_response = null;\n        db_query.limit = 0;\n        db_query.skip = 0;\n        db_query.payload = {\"user_name\":user_name};\n        break;\n        \n    case \"run\":\n        //borrar órdenes anteriores\n        db_action = {\"payload\":{}};\n        db_action.operation = \"remove\";\n        \n        //anunciar a todos que hay un tamales run\n        slack_response.payload.announcement = true;\n        slack_response.payload.text = \"Se hizo un anuncio en #general. Puedes usar /axtellabs tamales list para ver las órdenes hechas.\";\n        break;\n        \n    case \"here\":\n        slack_response.payload.announcement = true;\n        slack_response.payload.text = \"Se hizo un anuncio en #general.\";\n        \n        break;\n        \n    default:\n        if(isNaN(order[2])){\n            slack_response.payload.text = \"Comando inválido.\\n\"+instrucciones; \n        } else {\n            db_action = {};\n            db_action.operation = \"insert\";\n            slack_response.payload.text = \"Ordenaste *\" + order[2] + \"* tamales de tipo [*\" + order[1] + \"*].\\nPuedes utilizar /axtellabs tamales status para ver tus órdenes y /axtellabs tamales clear para borrarlas.\";\n            db_action.payload = {\"user_name\":user_name,\"tipo\":order[1],\"cantidad\":order[2]};\n        }\n\n}\n\n\nreturn [slack_response,db_action,db_query,error_obj];\n\n\n\n","outputs":"4","noerr":0,"x":485.5,"y":263,"wires":[["46f04a3.cee33b4","fad182a5.d5e788","54bd6506.52eaec"],["92ee3e62.1043d8"],["754c47fe.be2ec"],["32df758d.a91fda"]]},{"id":"677c85bc.92add4","type":"function","z":"3fe7ff93.cc45f8","name":"comando inválido","func":"\nmsg.payload.text = \"Comando no válido. Puedes intentar /axtellabs hola\";\nreturn msg;","outputs":1,"noerr":0,"x":492,"y":442,"wires":[["78cb39f1.544db"]]},{"id":"32df758d.a91fda","type":"debug","z":"3fe7ff93.cc45f8","name":"ERROR","active":false,"console":"false","complete":"payload","x":705.5,"y":378,"wires":[]},{"id":"76d218aa.fa26f8","type":"inject","z":"f6398f07.346a2","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":211,"y":87,"wires":[["69ca5389.78f7ac"]]},{"id":"69ca5389.78f7ac","type":"ui_chart","z":"f6398f07.346a2","name":"","group":"c3d7700a.6093c8","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"x":399,"y":168,"wires":[["7ab0a02b.d581b"],[]]},{"id":"2f1b115c.807476","type":"inject","z":"f6398f07.346a2","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":106,"y":285,"wires":[["80e5189c.8edd58"]]},{"id":"80e5189c.8edd58","type":"file in","z":"f6398f07.346a2","name":"","filename":"tuJefa","format":"utf8","x":252,"y":285,"wires":[["9cecbc31.3ea818"]]},{"id":"9faacab6.82c45","type":"debug","z":"f6398f07.346a2","name":"","active":false,"console":"false","complete":"false","x":520,"y":319,"wires":[]},{"id":"4fdc9f38.e24dd","type":"inject","z":"f6398f07.346a2","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":204.5,"y":134,"wires":[["69ca5389.78f7ac"]]},{"id":"7b30cbc5.9edfcc","type":"inject","z":"f6398f07.346a2","name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"x":206.5,"y":179,"wires":[["69ca5389.78f7ac"]]},{"id":"950e1f8a.84059","type":"inject","z":"f6398f07.346a2","name":"","topic":"","payload":"10","payloadType":"num","repeat":"","crontab":"","once":false,"x":202.5,"y":40,"wires":[["69ca5389.78f7ac"]]},{"id":"c9701632.bec22","type":"debug","z":"f6398f07.346a2","name":"","active":false,"console":"false","complete":"true","x":653,"y":231,"wires":[]},{"id":"65c4b585.c365cc","type":"file","z":"f6398f07.346a2","name":"","filename":"tuJefa","appendNewline":false,"createDir":true,"overwriteFile":"true","x":678,"y":154,"wires":[]},{"id":"7ab0a02b.d581b","type":"function","z":"f6398f07.346a2","name":"","func":"if(msg.payload.length === 0){\n    return null;\n}\nreturn msg;","outputs":1,"noerr":0,"x":541,"y":154,"wires":[["65c4b585.c365cc","c9701632.bec22"]]},{"id":"9cecbc31.3ea818","type":"json","z":"f6398f07.346a2","name":"","x":364,"y":237,"wires":[["69ca5389.78f7ac","9faacab6.82c45"]]},{"id":"d412b9d0.23a3c","type":"link in","z":"3fe7ff93.cc45f8","name":"httpResponse","links":["46f04a3.cee33b4","4f26a5dd.3dab5c","67979ea.136cb6","78cb39f1.544db","aaab86a3.90fff8"],"x":1175.3333139419556,"y":47.888906478881836,"wires":[["95a0b160.bd51a"]]},{"id":"4f26a5dd.3dab5c","type":"link out","z":"3fe7ff93.cc45f8","name":"","links":["d412b9d0.23a3c"],"x":575.0000314712524,"y":156.66665744781494,"wires":[]},{"id":"67979ea.136cb6","type":"link out","z":"3fe7ff93.cc45f8","name":"","links":["d412b9d0.23a3c"],"x":533.3333129882812,"y":192.2222137451172,"wires":[]},{"id":"46f04a3.cee33b4","type":"link out","z":"3fe7ff93.cc45f8","name":"","links":["d412b9d0.23a3c"],"x":666.111083984375,"y":71.5555419921875,"wires":[]},{"id":"78cb39f1.544db","type":"link out","z":"3fe7ff93.cc45f8","name":"","links":["d412b9d0.23a3c"],"x":616.5555419921875,"y":442.33331298828125,"wires":[]},{"id":"2c00e72c.8d96e","type":"mongodb out","z":"3fe7ff93.cc45f8","mongodb":"e678b29b.a056d","name":"insertAxtelLabs-IoT@mLab","collection":"slack","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":921.5,"y":208,"wires":[]},{"id":"754c47fe.be2ec","type":"mongodb in","z":"3fe7ff93.cc45f8","mongodb":"e678b29b.a056d","name":"","collection":"slack","operation":"find","x":716.5,"y":310,"wires":[["47ad328a.bfb1e4"]]},{"id":"47ad328a.bfb1e4","type":"function","z":"3fe7ff93.cc45f8","name":"processQuesryResults","func":"queryResults = msg.payload;\n\nmsg.payload = {\n    \"text\":\"\",\n    \"attachments\":[\n        ]\n};\n\nif (queryResults.length>0){\n    msg.payload.text = \"Órdenes registradas\";\n    queryResults.forEach(function(orden) {\n        msg.payload.attachments.push({\"title\":orden.user_name,\"text\":orden.cantidad + \" \" + orden.tipo});\n    });\n} else {\n    msg.payload.text = \"No hay órdenes registradas. Usa /axtellabs tamales [tipo] [cantidad]\"\n}\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":926.5,"y":308,"wires":[["aaab86a3.90fff8"]]},{"id":"aaab86a3.90fff8","type":"link out","z":"3fe7ff93.cc45f8","name":"","links":["d412b9d0.23a3c"],"x":1081,"y":309,"wires":[]},{"id":"92ee3e62.1043d8","type":"switch","z":"3fe7ff93.cc45f8","name":"db operation","property":"operation","propertyType":"msg","rules":[{"t":"eq","v":"insert","vt":"str"},{"t":"eq","v":"remove","vt":"str"}],"checkall":"true","outputs":2,"x":692.5,"y":246,"wires":[["2c00e72c.8d96e"],["40d1c90b.301b"]]},{"id":"40d1c90b.301b","type":"mongodb out","z":"3fe7ff93.cc45f8","mongodb":"e678b29b.a056d","name":"removeAxtelLabs-IoT@mLab","collection":"slack","payonly":true,"upsert":false,"multi":false,"operation":"delete","x":918,"y":253,"wires":[]},{"id":"d1b03b88.a7e34","type":"catch","z":"3fe7ff93.cc45f8","name":"","scope":null,"x":141.5,"y":542,"wires":[["faa23671.b69c78","b297779f.0e1bf"]]},{"id":"faa23671.b69c78","type":"e-mail","z":"3fe7ff93.cc45f8","server":"smtp.gmail.com","port":"465","name":"ahernandezd@axtel.com.mx","dname":"","x":367.5,"y":542,"wires":[]},{"id":"b297779f.0e1bf","type":"file","z":"3fe7ff93.cc45f8","name":"","filename":"slack-errors.log","appendNewline":true,"createDir":true,"overwriteFile":"false","x":327.5,"y":577,"wires":[]},{"id":"e529c29d.e283","type":"http request","z":"3fe7ff93.cc45f8","name":"","method":"POST","ret":"txt","url":"https://hooks.slack.com/services/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","tls":"","x":1146.5,"y":121,"wires":[["46ee8182.b44bd8"]]},{"id":"fad182a5.d5e788","type":"function","z":"3fe7ff93.cc45f8","name":"","func":"if (msg.payload.command == \"run\"){\n    msg.payload.text = \"@hortizc inició un tamales run para el viernes. Deja tu orden con /axtellabs tamales [tipo de tamales] [cantidad]!\"\n    return msg;\n}","outputs":1,"noerr":0,"x":698.5,"y":123,"wires":[["e529c29d.e283"]]},{"id":"46ee8182.b44bd8","type":"debug","z":"3fe7ff93.cc45f8","name":"","active":false,"console":"false","complete":"false","x":1308.5,"y":121,"wires":[]},{"id":"54bd6506.52eaec","type":"function","z":"3fe7ff93.cc45f8","name":"","func":"if(msg.payload.command == \"here\"){\n    msg.payload = {};\n    msg.limit = 0;\n    msg.skip = 0;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":702.5,"y":163,"wires":[["777b0748.dccbe"]]},{"id":"777b0748.dccbe","type":"mongodb in","z":"3fe7ff93.cc45f8","mongodb":"e678b29b.a056d","name":"","collection":"slack","operation":"find","x":851.5,"y":162,"wires":[["e0467fda.ff86a8"]]},{"id":"e0467fda.ff86a8","type":"function","z":"3fe7ff93.cc45f8","name":"","func":"queryResults = msg.payload;\n\nif (queryResults.length>0){\n    \n    msg.payload = {\n        \"channel\":\"@ahernandezd\",\n        \"text\":\"Tamales here!\",\n        \"attachments\":[\n            ]\n    };\n    queryResults.forEach(function(orden) {\n        msg.payload.attachments.push({\"title\":\"@\"+orden.user_name});\n    });\n    \n    return msg;\n}\n\n\n\n","outputs":1,"noerr":0,"x":999.5,"y":163,"wires":[["e529c29d.e283"]]}]