flows_ip-172-31-27-186.us-west-2.compute.internal.json
[{"id":"3fe7ff93.cc45f8","type":"tab","label":"Flow 1"},{"id":"dd3a9676.9b99d8","type":"http in","z":"3fe7ff93.cc45f8","name":"Tamales@Slack","url":"/tamales","method":"post","swaggerDoc":"","x":154.5,"y":116,"wires":[["e848bd5b.8da348"]]},{"id":"ec266576.35243","type":"http response","z":"3fe7ff93.cc45f8","name":"","x":551.5,"y":111,"wires":[]},{"id":"e848bd5b.8da348","type":"function","z":"3fe7ff93.cc45f8","name":"","func":"\nvar response = {\n    \"response_type\":\"in_channel\",\n    \"text\": \"This is a test.\",\n    \"attachments\":[\n        {\n            \"title\": \"Test 1\",\n            \"text\": \"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.\",\n        }\n    ]\n}\n\nmsg.payload = response\nreturn msg;","outputs":1,"noerr":0,"x":369.5,"y":112,"wires":[["ec266576.35243","ce90dff9.9c1d78"]]},{"id":"ce90dff9.9c1d78","type":"debug","z":"3fe7ff93.cc45f8","name":"","active":true,"console":"false","complete":"false","x":525.5,"y":202,"wires":[]}]